
.vs/LocaManager/v15/.suo
.vs/LocaManager/v15/Server/sqlite3/storage.ide
.vs/LocaManager/v15/Server/sqlite3/storage.ide-wal
LocaManager/bin/Debug/LocaManager.exe
LocaManager/bin/Debug/LocaManager.pdb
LocaManager/obj/Debug/LocaManager.csproj.FileListAbsolute.txt
LocaManager/obj/Debug/LocaManager.csprojAssemblyReference.cache
LocaManager/obj/Debug/LocaManager.exe
LocaManager/obj/Debug/LocaManager.g.resources
LocaManager/obj/Debug/LocaManager.pdb
LocaManager/obj/Debug/View/MainWindow.baml
LocaManager/obj/Debug/View/MainWindow.g.cs
LocaManager/obj/Debug/View/MainWindow.g.i.cs
